<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Application Tool</title>
</head>
<body style="background-color: white;">

<div class="row">
    <div class="column">
        <button type = "add"> Add New Application </button>
        <button type = "delete"> Withdraw Application </button>
        <button type = "update"> Update Existing Application </button>
    </div>

    <div class="column">
        <button type = "project"> Search </button>
        <button type = "select"> Hiring Companies </button>
        <!-- Join Query -->
        <button type = "join"> Search Applicants </button>
    </div>


    <div class="column">
<!-- Aggregation Query, Finds the number of applications an applicant has sent -->
<button type = "aggregation"> Search Applications </button>
<!-- Nested Aggregation -->
<button type = "nestedAggregation"> Companies Hiring Experienced interns </button>
<!-- Division Query -->
<button type = "division"> Applicants who applied to all </button>
    </div>

</div>

<table id="table_id" class="display">
    <thead>
    <tr>
        <!--        <th>Column 1</th>-->
        <!--        <th>Column 2</th>-->
    </tr>
    </thead>
    <tbody>
    <tr>
        <!--        <td>Row 1 Data 1</td>-->
        <!--        <td>Row 1 Data 2</td>-->
    </tr>
    <tr>
        <!--        <td>Row 2 Data 1</td>-->
        <!--        <td>Row 2 Data 2</td>-->
    </tr>
    </tbody>
</table>
</body>
</html>
