<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Application Tool</title>
</head>
<body style="background-color: white;">

<div class="row">
    <p>
        <label> SIN </label> <input id = "sinField" class = "SIN">
        <label> Year </label> <input id = "yearField" class = "Year">
        <label> Major </label> <input id = "majorField" class = "Major">
        <label> First Name </label> <input id = "fnfield" class = "fn">
        <label> Last Name </label> <input id = "lnfield" class = "ln">
        <label> Address </label> <input id = "addressfield" class = "address">
    </p>
    <div class="column">
        <button id = "add" class = "addButton"> Add New Application </button>

    <p>
        <label> SIN </label> <input id = "deleteSinField" class = "DeleteSIN">
    </p>
        <button id = "delete"> Delete Applicant </button>

    <p>
        <label> Major </label> <input id = "major" class = "Major">
        <label> Program Year </label> <input id = "year" class = "Year">
    </p>
    <button id = "update"> Update Applicant Major </button>

        <p>
            <label> Matching Keyword </label> <input id = "description" class = "Description">
        </p>
        <button id = "select"> Find Job </button>
        <br>
        <br>
        <button id = "project"> All Companies Hiring </button>

        <p>
            <label> Applicant SIN </label> <input id = "appSIN" class = "ApplicantSIN">
        </p>
        <button id = "join"> Find Application </button>

        <p>
            <label> Applicant SIN </label> <input id = "sentSIN" class = "SentSIN">
        </p>
        <button id = "aggregation"> Number of Applications Sent </button>
        <br>
        <br>
        <button id = "nestedAggregation"> Companies Hiring Experienced interns </button>
        <br>
        <br>
        <button id = "division"> Applicants who applied to all </button>
    </div>

</div>

<table id="table_id" class="display">
    <thead>
    <tr>
        <!--        <th>Column 1</th>-->
        <!--        <th>Column 2</th>-->
    </tr>
    </thead>
    <tbody>
    <tr>
        <!--        <td>Row 1 Data 1</td>-->
        <!--        <td>Row 1 Data 2</td>-->
    </tr>
    <tr>
        <!--        <td>Row 2 Data 1</td>-->
        <!--        <td>Row 2 Data 2</td>-->
    </tr>
    </tbody>
</table>
</body>
</html>
