<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Application Tool</title>
</head>
<body style="background-color: white;">
<p>
    <label> SIN </label> <input id = "sinField" class = "SIN">
    <label> Year </label> <input id = "yearField" class = "Year">
    <label> Major </label> <input id = "majorField" class = "Major">
    <label> First Name </label> <input id = "fnfield" class = "fn">
    <label> Last Name </label> <input id = "lnfield" class = "ln">
    <label> Address </label> <input id = "addressfield" class = "address">
</p>


<div class="row">
    <div class="column">
        <button id = "add" class = "addButton"> Add New Application </button>
    </div>

    <!-- successfully added -->


    <p>
       <!-- fields -->
    </p>
    <div class="column">
        <button id = "delete"> Withdraw Application </button>
    </div>
    <button id = "update"> Update Existing Application </button>

    <div class="column">
        <button id = "project"> Search </button>
        <button id = "select"> Hiring Companies </button>
        <!-- Join Query -->
        <button id = "join"> Search Applicants </button>
    </div>
    <div class="column">
        <!-- Aggregation Query, Finds the number of applications an applicant has sent -->
        <button id = "aggregation"> Search Applications </button>
        <!-- Nested Aggregation -->
        <button id = "nestedAggregation"> Companies Hiring Experienced interns </button>
        <!-- Division Query -->
        <button id = "division"> Applicants who applied to all </button>
    </div>

</div>

<table id="table_id" class="display">
    <thead>
    <tr>
        <!--        <th>Column 1</th>-->
        <!--        <th>Column 2</th>-->
    </tr>
    </thead>
    <tbody>
    <tr>
        <!--        <td>Row 1 Data 1</td>-->
        <!--        <td>Row 1 Data 2</td>-->
    </tr>
    <tr>
        <!--        <td>Row 2 Data 1</td>-->
        <!--        <td>Row 2 Data 2</td>-->
    </tr>
    </tbody>
</table>
</body>
</html>